{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Compte
{% endblock %}

{% block body %}

	{% block header %}
		{% include "smallHeader.html.twig" %}
	{% endblock %}

	{% block container %}

		<div
			class="container-lg">

			{# flash message #}
			{% for message in app.flashes('message') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}

			<h2 class="mt-2">Bienvenue
				{{app.user.pseudo |capitalize }}
			</h2>

			<div>
				{# photo de profil ici #}
				<div>
					<p>Nom d'utilisateur :
						{{ app.user.pseudo |capitalize }}</p>
					<p>Date d'inscription :
						{{ app.user.registerDate |date("d/m/Y") }}</p>
				</div>
			</div>

			<hr>

			{# pseudo and email #}
			<h3>Contact</h3>
			<table class="table border">
				<thead>
					<tr>
						<th scope="col">Adresse mail</th>
						<th scope="col">Téléphone</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ app.user.email }}</td>
						<td>{{ app.user.phoneNumber }}</td>
					</tr>
				</tbody>
			</table>


			{# address #}
			<h3>Adresse</h3>
			<table class="table border">
				<thead>
					<tr>
						<th scope="col">Département</th>
						<th scope="col">Code postal</th>
						<th scope="col">Ville</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ app.user.departement |capitalize}}</td>
						<td>{{ app.user.cp}}</td>
						<td>{{ app.user.city |capitalize}}</td>
					</tr>
				</tbody>
			</table>

			{# afficher des info supplémentaires : equid // post // commentaires ? #}

			<button type="button" class="btn btn-primary mt-2 mb-2">
				<a href="{{ path('user_edit', {id: app.user.id} )}}" class="aWithoutStyle">Modifier le profil</a>
			</button>

			<button type="button" class="btn btn-primary mt-2 mb-2">
				<a href="{{ path('update_password') }}" class="aWithoutStyle">Modifier le mot de passe</a>
			</button>

			<button type="button" class="btn btn-primary mt-2 mb-2">
				<a href="{{ path('user_delete', {id: app.user.id}) }}" onclick="return confirm('Êtes-vous sûr.e de vouloir supprimer votre compte ?')" class="aWithoutStyle">Supprimer le compte</a>
			</button>

		</div>

	{% endblock %}

{% endblock %}
