{% extends 'base.html.twig' %}

{# titre de l'onglet #}
{% block title %}
	EmprunteMonPoney - Mot de passe
{% endblock %}

{% block body %}

	<div class="backgroundForm">

		{% block header %}
			{% include "smallHeader.html.twig" %}
		{% endblock %}

		{% block container %}

			<div class="littleForm littleFormLogin">

				<h2 class="text-center">Changer le Mot de Passe</h2>

				{{ form_start(form) }}
				{{ form_row(form.old_password) }}
				{{ form_row(form.new_password) }}
				{{ form_row(form.confirm_password) }}

				<div class="centerButton mt-20">
					<button class="btn btn-primary">Valider</button>
				</div>
				{{ form_end(form) }}

			</div>

		{% endblock %}

		{% block footer %}
			{% include "smallFooter.html.twig" %}
		{% endblock %}

	</div>


{% endblock %}
