{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Inscription
{% endblock %}

{% block body %}

	<div class="backgroundForm">

		{% block header %}
			{% include "smallHeader.html.twig" %}
		{% endblock %}

		{% block container %}

			{# flash message #}
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}

			<div class="littleForm">
				<h1 class="text-center" style="color:white;">Inscription</h1>

				{{ form_start(registrationForm) }}


				{{ form_row(registrationForm.pseudo) }}
				<div class="mt-3">
					{{ form_row(registrationForm.roles) }}
				</div>

				<div class="form-row mt-3">

					<div class="col">
						{{ form_row(registrationForm.cp) }}
					</div>
					<div class="col">
						{{ form_row(registrationForm.city) }}
					</div>
					<div class="col">
						{{ form_row(registrationForm.departement) }}
					</div>

				</div>

				<div class="form-row mt-3">

					<div class="col">
						{{ form_row(registrationForm.email) }}
					</div>
					{# <div class="col">{{ form_row(registrationForm.phoneNumber) }}</div> #}
					{% do registrationForm.phoneNumber.setRendered() %}

				</div>
				<div class="mt-3">
					{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

					<small class="form-text">Le mot de passe doit contenir huit caractères, dont des lettres majuscules et minuscules, un chiffre et un symbole.</small>
				</div>

				{{ form_row(registrationForm.agreeTerms) }}

				<small class="form-text">L'inscription vous engage à respecter les
					<a href="{{ path('conditions_utilisation')}}" class="whiteLink">
						conditions d'utilisation
					</a>
				</small>

				<div class="centerButton">
					<button type="submit" class="btn btn-primary mt-20">
						Envoyer</button>
				</div>


				{{ form_end(registrationForm) }}

			</div>
		{% endblock %}

		{% block footer %}
			{% include "smallFooter.html.twig" %}
		{% endblock %}

	</div>

{% endblock %}
