<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<a class="navbar-brand logo" href="{{path('home')}}">Emprunte mon Poney
		<i class="fas fa-horse-head"></i>
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_home') }}">Activités</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_users') }}">Utilisateurs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_categories') }}">Catégories</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_activities') }}">Activités</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home') }}">Revenir au site</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
			</li>
		</ul>
	</div>

</nav>
