{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Admin
{% endblock %}

{% block body %}

	{% block container %}

		{% block header %}
			{% include "admin/adminHeader.html.twig" %}
		{% endblock %}

		<div class="container-lg">

			<h2>Bonjour,
				{{ actual |capitalize }}</h2>
			<p>Bienvenue sur le panneau admin.</p>

			<h3>Activité du site</h3>
			<table class="table border">
				<thead>
					<tr>
						<th scope="col">Nombre d'annonces</th>
						<th scope="col">Nombre d'utilisateurs</th>
						{# <th scope="col">Nombre d'emprunteur</th><th scope="col">Nombre de propriétaires</th> #}
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ posts | length }}</td>
						<td>{{ users | length }}</td>
						{# <td>{{ userEmprunt | length }}</td><td>{{ userProprio | length }}</td> #}
					</tr>
				</tbody>

			</tbody>
		</div>
	{% endblock %}
{% endblock %}
