{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Admin
{% endblock %}

{% block body %}

	{% block container %}

		{% block header %}
			{% include "admin/adminHeader.html.twig" %}
		{% endblock %}

		<div
			class="container-lg">

			{# flash message #}
			{% for message in app.flashes('message') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}

			<h3>Liste des activités</h3>

			<button type="button" class="btn btn-primary mt-2 mb-2">
				<a href="{{ path('add_activity') }}" class="aWithoutStyle">Ajouter une activité</a>
			</button>

			<table class="table border">
				<thead>
					<tr>
						<th scope="col">Activités</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for activity in activities %}
						<tr>
							<td>{{ activity.name |capitalize}}</td>
							<td>
								<a href="{{ path('edit_activity', {id: activity.id}) }}">Editer</a>
							</td>
							<td>
								<a href="{{ path('delete_activity', {id: activity.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie ?')">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</tr>
		</tbody>
	</td>
</tbody></tr></tbody></div>{% endblock %}{% endblock %}
