{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Messagerie
{% endblock %}

{% block body %}
	<div class="backgroundBlue">

		{% block header %}
			{% include "smallHeader.html.twig" %}
		{% endblock %}

		{% block container %}

			<section class="container">

				<h1 class="mt-20 text-center">Messagerie</h1>

				{# buttons menu #}
				<div class="d-lg-flex flex-row justify-content-around mb-3 mt-20">
					<button type="button" class="btn btn-primary mr-3">
						<i class="far fa-envelope"></i>
						<a href="{{path("send_message")}}" class="aWithoutStyle">Envoyer un message</a>
					</button>

					<button type="button" class="btn btn-primary mr-3">
						<a href="{{ path("received") }}" class="aWithoutStyle">Boîte de réception</a>
					</button>

					<button type="button" class="btn btn-primary mr-3">
						<a href="{{ path("sent") }}" class="aWithoutStyle">Boite d'envoi</a>
					</button>
				</div>

				<article class="shadow p-3 mb-4 bg-white rounded row">
					<div class="col-12">


						<h2 class="text-center mb-4">Boite de réception</h2>

					</div>

					<div class="col-3">De</div>
					<div class="col-3">Sujet</div>
					<div class="col-3">Date</div>
					<div class="col-3"></div>

					<hr>

					{% for message in app.user.received %}
						{# hide messages deleted by the recipient (so if deletedRecipient == true) #}
						{% if message.deletedRecipient == false %}

							{# if the message has not yet been read it appears in bold #}
							{% set bold = "" %}
							{% if message.isRead == 0 %}
								{% set bold = "font-weight-bold" %}
							{% endif %}

							<div class="col-3 {{bold}}">{{ message.sender.email }}</div>
							<div class="col-3 {{bold}}">
								<a href="{{ path("read", {id: message.id}) }}">{{ message.title }}</a>
							</div>
							<div class="col-3 {{bold}}">{{ message.createdAt|date }}</div>
							<div class="col-3">
								<a href="{{ path("delete", {id: message.id}) }}">
									<i class="fas fa-times text-danger"></i>
								</a>
							</div>

						{% endif %}
					{% endfor %}


				</article>
			</section>


		{% endblock %}

	</div>
{% endblock %}
