{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Messagerie
{% endblock %}

{% block body %}

	{% block header %}
		{% include "smallHeader.html.twig" %}
	{% endblock %}

	{% block container %}

		<section class="container">
			<div class="row">
				<div class="col-12">
					<h1>Messagerie</h1>
					<h2>Boîte de réception</h2>
					<p>Vous avez reçu
						{{ app.user.received|length }}
						messages</p>
				</div>
				<div class="col-3">De</div>
				<div class="col-3">Sujet</div>
				<div class="col-3">Date</div>
				<div class="col-3">Actions</div>
				{% for message in app.user.received %}

					{# if the message has not yet been read it appears in bold #}
					{% set bold = "" %}
					{% if message.isRead == 0 %}
						{% set bold = "fw-bold" %}
					{% endif %}

					<div class="col-3 {{bold}}">{{ message.sender.email }}</div>
					<div class="col-3 {{bold}}">
						<a href="{{ path("read", {id: message.id}) }}">{{ message.title }}</a>
					</div>
					<div class="col-3 {{bold}}">{{ message.createdAt|date }}</div>
					<div class="col-3">
						<a href="{{ path("delete", {id: message.id}) }}">
							<i class="fas fa-times"></i>
						</a>
					</div>
				{% endfor %}


				<div class="col">
					<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
						Voir mes dossiers
					</a>
					<a href="{{path("send_message")}}" class="btn btn-primary">Envoyer un message</a>
				</div>
			</div>
		</section>
		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<div class="list-group">
					<a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Accueil</a>
				</div>
				<div class="list-group">
					<a href="{{ path("received") }}" class="list-group-item list-group-item-action active">Boîte de réception</a>
				</div>
				<div class="list-group">
					<a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Eléments envoyés</a>
				</div>
			</div>
		</div>

	{% endblock %}

{% endblock %}
