{% block header %}
	<!-- navigation -->
	<nav class="smallNav flex visible" id="smallNav">
		<a href="{{path('home')}}" class="logo">
			<span>
				EmprunteMonPoney
			</span>
		</a>
		<div class="flex">

			{% if is_granted("ROLE_ADMIN") %}
				<a href="{{path('admin_home')}}">
					Admin
				</a>
				<a href="#">
					Annonces
				</a>
				<a href="{{path('user_account')}}">
					Mon annonce
				</a>
				<a href="{{path('user_account')}}">
					Compte
				</a>
				<a href="{{path('app_logout')}}">Déconnexion</a>
			{% elseif is_granted("ROLE_USER") or is_granted("ROLE_PROPRIO") or is_granted("ROLE_EMPRUNT") %}
				<a href="#">
					Annonces
				</a>
				<a href="{{path('user_account')}}">
					Mon annonce
				</a>
				<a href="{{path('user_account')}}">
					Compte
				</a>
				<a href="{{path('app_logout')}}">Déconnexion</a>
			{% else %}
				<a href="{{path('app_register')}}">Inscription</a>
				<a href="{{path('app_login')}}">Connexion</a>
			{% endif %}

		</div>
	</nav>

	<!-- menu burger -->
	<div class="burger">
		<span></span>
		<span></span>
		<span></span>
	</div>
{% endblock %}
