{% block header %}
	<!-- navigation -->
	<nav class="smallNav flex visible navbar-dark bg-dark" id="smallNav">
		<a href="{{path('home')}}" class="logo">
			<span>
				Emprunte mon Poney
				<i class="fas fa-horse-head"></i>
			</span>
		</a>
		<div class="flex">

			{% if is_granted("ROLE_ADMIN") %}
				<a href="{{path('admin_home')}}">
					Admin
				</a>
				<a href="{{path('posts')}}">
					Annonces
				</a>
				<a href="{{path('user_equid')}}">
					Mon cheval
				</a>
				<a href="{{path('my_post')}}">
					Mon annonce
				</a>
				<a href="{{path('user_account')}}">
					Compte
				</a>
				<a href="{{path('app_logout')}}">Déconnexion</a>
			{% elseif is_granted("ROLE_PROPRIO") %}
				<a href="{{path('posts')}}">
					Annonces
				</a>
				<a href="{{path('user_equid')}}">
					Mon cheval
				</a>
				<a href="{{path('my_post')}}">
					Mon annonce
				</a>
				<a href="{{path('user_account')}}">
					Compte
				</a>
				<a href="{{path('app_logout')}}">Déconnexion</a>
			{% elseif is_granted("ROLE_EMPRUNT") %}
				<a href="{{path('posts')}}">
					Annonces
				</a>
				<a href="{{path('my_post')}}">
					Mon annonce
				</a>
				<a href="{{path('user_account')}}">
					Compte
				</a>
				<a href="{{path('app_logout')}}">Déconnexion</a>
			{% else %}
				<a href="{{path('app_register')}}">Inscription</a>
				<a href="{{path('app_login')}}">Connexion</a>
				<a href="{{ path('contact')}}">Contact</a>
			{% endif %}

		</div>
	</nav>

	<!-- menu burger -->
	<div class="burger">
		<span></span>
		<span></span>
		<span></span>
	</div>
{% endblock %}
