{# filter #}
<section class="filter" style="display:block; position:sticky; top:75px">

	{{ form_start(form, { attr: {class: 'filter'} } ) }}

	<div class="mt-3">
		<h2 class="filterTitle" style="font-size: 1rem;">Recherche</h2>
		{{ form_row(form.q) }}
	</div>

	<div class="mt-3">
		<h2 class="filterTitle" style="font-size: 1rem;">Catégories</h2>
		{{ form_row(form.categories) }}
	</div>

	<div class="mt-3">
		<h2 class="filterTitle" style="font-size: 1rem;">Prix</h2>
		{{ form_row(form.min) }}
		{{ form_row(form.max) }}
	</div>

	<div class="mt-3">
		<h2 class="filterTitle" style="font-size: 1rem;">Activités</h2>
		{{ form_row(form.activities) }}
	</div>

	<button type="submit" class="btn btn-primary mt-3 w-100">
		Filtrer
	</button>

	{{ form_end(form)}}

</section>
