{% extends 'base.html.twig' %}

{% set queryParameters = app.request.query.all %}
{# filter queryParameters in order to only keep the filters without "page" #}
{% set queryString = queryParameters|filter((v, k) => k != "page")|url_encode %}

{% block title %}EmprunteMonPoney - Annonces
{% endblock %}

{% block body %}

	<div class="backgroundBlue">

		{% block header %}
			{% include "smallHeader.html.twig" %}
		{% endblock %}

		{% block container %}

			<main
				class="container-lg">

				{# flash message #}
				{% for message in app.flashes('message') %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endfor %}


				{# filter #}

				<form
					id="filters" class="row w-100 p-3">

					{# categories #}
					<div class="col">
						<div>
							<h4>Catégories</h4>
							{% for category in categories %}

								{# checking if category is in parameters #}
								{% if queryParameters is not empty and queryParameters.categories is defined %}
									{% set checked = (category.id in queryParameters.categories) ? "checked" : "" %}
								{% else %}
									{% set checked = "" %}
								{% endif %}
								<div>
									<input type="checkbox" name="categories[]" id="cat{{category.id}}" value="{{category.id}}" {{ checked }}>
									<label for="cat{{category.id}}">{{ category.name }}</label>
								</div>

							{% endfor %}
						</div>
					</div>

					{# price #}
					<div class="col">
						<div>
							<h4>Prix</h4>
							{# checking if minPrice & maxPrice is in parameters #}
							{% if queryParameters is not empty and queryParameters.minPrice is defined and queryParameters.minPrice is not null %}
								{% set valueMinPrice = queryParameters.minPrice %}
							{% else %}
								{% set valueMinPrice = 'prix mini' %}
							{% endif %}
							{% if queryParameters is not empty and queryParameters.maxPrice is defined and queryParameters.maxPrice is not null %}
								{% set valueMaxPrice = queryParameters.maxPrice %}
							{% else %}
								{% set valueMaxPrice = 'prix max' %}
							{% endif %}

							<div>
								<input type="number" name="minPrice" id="minPrice" placeholder="{{ valueMinPrice }}" style="width:100px">

								<input type="number" name="maxPrice" id="maxPrice" placeholder="{{ valueMaxPrice }}" style="width:100px">
							</div>
						</div>
					</div>

					{# number of the current page #}
					<input type="hidden" name="page" value="{{ page }}">

				</form>
				{# end filters #}

				<section id="content">

					{% include "post/index_content.html.twig" %}

				</section>

			</main>

		{% endblock %}

	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}
