{% extends 'base.html.twig' %}

{% set queryParameters = app.request.query.all %}
{# filter queryParameters in order to only keep the categories #}
{% set queryString = queryParameters|filter((v, k) => k != "page")|url_encode %}

{% block title %}EmprunteMonPoney - Annonces
{% endblock %}

{% block body %}

	<div class="backgroundBlue">

		{% block header %}
			{% include "smallHeader.html.twig" %}
		{% endblock %}

		{% block container %}

			<main class="container-lg">

				<h2 class="mt-2 text-center">Annonces</h2>

				{# flash message #}
				{% for message in app.flashes('message') %}
					<div class="alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endfor %}


				{# filter #}

				<form action="" id="filters" class="row border w-100 p-3">
				
				{% for category in categories %}

					{# checking if category is in parameters #}
					{% if queryParameters is not empty and queryParameters.categories is defined %}
							{% set checked = (category.id in queryParameters.categories) ? "checked" : "" %}
						{% else %}
							{% set checked = "" %}
					{% endif %}

					<div class="col">
						<p>
							<input type="checkbox" name="categories[]" id="cat{{category.id}}" value="{{category.id}}" {{ checked }}>
							<label for="cat{{category.id}}">{{ category.name }}</label>
						</p>
					</div>

				{% endfor %}
				<input type="hidden" name="page" value="{{ page }}">

				</form>

				<section id="content">

					{% include "post/index_content.html.twig" %}
					
				</section>

			</main>

		{% endblock %}

	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}