{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Annonces
{% endblock %}

{% block body %}
	<div class="backgroundColor">

		{% block header %}
			{% include "smallHeader.html.twig" %}
		{% endblock %}

		<div class="littleForm">

			{% if editMode %}
				<h1 class="d-flex justify-content-center">Modifier mon annonce</h1>
			{% elseif proprioPost %}
				<h1 class="d-flex justify-content-center">Nouvelle annonce pour
					{{ horse }}</h1>
			{% else %}
				<h1 class="d-flex justify-content-center">Nouvelle annonce</h1>
			{% endif %}

			{{ form_start(form, { attr: {id: 'form'} }) }}

			{{ form_row(form.text) }}

			<div class="form-row mt-3">
				<div class="col">
					{% if proprioPost %}
						<label class="form-text mt-0">La ville où se situe votre cheval.</label>
					{% else %}
						<label class="form-text mt-0">Indiquez la ville où vous habitez.</label>
					{% endif %}
					{{ form_row(form.city) }}
				</div>
				<div class="col">
					{{ form_row(form.price) }}
				</div>
			</div>

			{{ form_row(form.photo) }}

			<ul id="activities" data-prototype="{{ form_row(form.activities.vars.prototype)|e }}" style="list-style-type:none;" class="mt-2 p-0">

				{% for activity in form.activities %}
					<li class="activity">
						{{ form_row(activity) }}
					</li>
				{% endfor %}

			</ul>

			<div class="centerButton mt-20">
				<button class="btn btn-primary">Valider</button>
			</div>

			{{ form_end(form) }}

		</div>

	</div>
{% endblock %}
