<div class="card" style="width: 18rem;">
	{% for photo in post.photos | slice(0,1) %}
		<img src="{{ asset('/uploads/' ~ photo.name ) }}" class="card-img-top" alt="photo annonce">
	{% endfor %}
	<div class="card-body">
		<h5 class="card-title">{{ post.equid.name |capitalize }},
			{{ post.equid.breed |capitalize }}</h5>
		<h6 class="card-subtitle mb-2 text-muted">{{ post.price }}
			€ / mois</h6>
		<div style="overflow: hidden; white-space: nowrap;">
			<p class="card-text">{{ post.text | raw }}</p>
		</div>
		<a href="#" class="btn btn-primary">Détails</a>
	</div>
</div>
