<article
	class="card h-100 shadow p-3 mb-5 bg-white rounded">

	{# pictures #}
	{% if post.photos is not empty %}

		<img src="{{ asset('/uploads/' ~ post.photos[0].name ) }}" class="card-img-top" style="max-height:220px" alt="photo cheval">

	{% endif %}

	<div
		class="card-body">

		{# title #}
		{% if post.category == "profil d'un cheval" %}

			<h5 class="card-title">{{ post.equid.name|capitalize }},
				{{ post.equid.breed|capitalize }}
			</h5>
		{% else %}
			<h5 class="card-title">
				{{ post.user.pseudo|capitalize }}</h5>

		{% endif %}

		{# price #}
		<h6 class="card-subtitle mb-2 text-muted">
			{% if post.category == "profil d'emprunteur" %}
				Budget :
				{{ post.price|number_format(2, ',', ' ') }}
				€ / mois
			{% else %}
				Prix :
				{{ post.price|number_format(2, ',', ' ') }}
				€ / mois
			{% endif %}
		</h6>

		{# city #}
		{% if post.city is not null and post.city is defined %}
			<h6 class="card-subtitle mb-2 text-muted">
				{{ post.city |capitalize }}
			</h6>
		{% endif %}

		{# text #}
		<p class="card-text">{{ post.text |u.truncate(50,'...') |raw }}</p>

		<div>
			<a href="{{ path('show_post', {id: post.id}) }}" class="btn btn-primary">Détails</a>
		</div>

	</div>

</article>
