<article
	class="card h-100" style="width: 18rem;">

	{# pictures #}
	{% if post.category == "profil d'un cheval" %}

		<img src="{{ asset('/uploads/' ~ post.photos[0].name ) }}" class="card-img-top" alt="photo annonce">

	{% else %}

		<img src="..." class="card-img-top" alt="photo annonce">

	{% endif %}

	<div
		class="card-body">

		{# title #}
		{% if post.category == "profil d'un cheval" %}

			<h5 class="card-title">{{ post.equid.name|capitalize }},
				{{ post.equid.breed|capitalize }}
			</h5>
		{% else %}
			<h5 class="card-title">{{ post.user.pseudo|capitalize }}</h5>

		{% endif %}

		{# price #}
		<h6 class="card-subtitle mb-2 text-muted">{{ post.price }}
			€ / mois</h6>

		{# text #}
		<p class="card-text">{{ post.text |u.truncate(50,'...') |raw }}</p>

		<div>
			<a href="{{ path('show_post', {id: post.id}) }}" class="btn btn-primary">Détails</a>

			{# favorite heart #}

			{% if is_granted("ROLE_USER") %}
				{# if the user has "ROLE_USER" #}

				{% for fav in post.favorite %}

					{% if fav.id == app.user.id %}
						{# full heart #}
						<i class="fas fa-heart text-danger" style="margin-left: 20px;" data-id="{{ post.id }}"></i>

					{% else %}
						{# empty heart if user is not logged in #}
						<i class="far fa-heart text-danger" style="margin-left: 20px;" data-id="{{ post.id }}"></i>
					{% endif %}

				{% else %}
					{# empty heart if not favorite #}
					<i class="far fa-heart text-danger" style="margin-left: 20px;" data-id="{{ post.id }}"></i>
				{% endfor %}

			{% else %}
				{# empty heart if user is not logged in #}
				<i class="far fa-heart text-danger" style="margin-left: 20px;" data-id="{{ post.id }}"></i>
			{% endif %}

		</div>

	</div>

</article>
