<div>

	<h2 class="mt-2 text-center">Mes chevaux</h2>

	{% for horse in horses %}

		<div class="shadow p-3 mb-2 bg-white rounded mb-4">
			<h3 class="text-center">{{ horse.name }}</h3>
			<h4>Informations générales</h4>

			<table class="table border">
				<tbody>
					<tr>
						<td scope="col" class="font-weight-bold">Nom</td>
						<td>{{ horse.name|capitalize }}</td>
					</tr>
					<tr>
						<td scope="col" class="font-weight-bold">Race</td>
						<td>{{ horse.breed|capitalize }}</td>
					</tr>
					<tr>
						<td scope="col" class="font-weight-bold">Sexe</td>
						<td>{{ horse.sex|capitalize }}</td>
					</tr>
					<tr>
						<td scope="col" class="font-weight-bold">Hauteur au garrot (cm)</td>
						<td>{{ horse.size|capitalize }}</td>
					</tr>
					<tr>
						<td scope="col" class="font-weight-bold">Date de naissance</td>
						<td>{{ horse.birthDate|date("d/m/Y") }}</td>
					</tr>
					<tr>
						<td scope="col" class="font-weight-bold">Age</td>
						<td>{% set difference = date(horse.birthDate).diff(date()) %}
							{% set leftYears = difference.y %}{{leftYears}}
							ans</td>
					</tr>
				</tbody>
			</table>

			{# address #}
			<h4>Adresse</h4>
			<table class="table border">
				<thead>
					<tr>
						<th scope="col">Département</th>
						<th scope="col">Code postal</th>
						<th scope="col">Ville</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ horse.departement |capitalize}}</td>
						<td>{{ horse.cp}}</td>
						<td>{{ horse.city |capitalize}}</td>
					</tr>
				</tbody>
			</table>

			{# buttons #}
			{% if horse.post is empty %}

				<button type="button" class="btn btn-primary mt-2 mb-2">
					<a href="{{ path('add_horse_post', {id: horse.id}) }}" class="aWithoutStyle">Ajouter une annonce</a>
				</button>

			{% endif %}

			<button type="button" class="btn btn-primary mt-2 mb-2">
				<a href="{{ path('edit_equid', {id: horse.id} )}}" class="aWithoutStyle">
					<i class="fas fa-pencil-alt"></i>
					Modifier
				</a>
			</button>
			<button type="button" class="btn btn-primary mt-2 mb-2">
				<a href="{{ path('delete_equid', {id: horse.id}) }}" class="aWithoutStyle">
					<i class="fas fa-times"></i>
					Supprimer</a>
			</button>

		</div>

	{% endfor %}

</div>
