{% extends 'base.html.twig' %}

{% block title %}EmprunteMonPoney - Moncheval
{% endblock %}

{% block body %}

	<div class="backgroundForm">

		{% block header %}
			{% include "smallHeader.html.twig" %}
		{% endblock %}

		{% block container %}

			{# flash message #}
			{% for message in app.flashes('message') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}

			<div class="littleForm">
				{% if editMode %}
					<h1 class="d-flex justify-content-center">Modifier les informations</h1>
				{% else %}
					<h1 class="d-flex justify-content-center">Inscrire un cheval</h1>
				{% endif %}

				{{ form_start(form) }}

				<div class="form-row mt-2">
					<div class="col">
						{{ form_row(form.name) }}
					</div>
					<div class="col">
						{{ form_row(form.breed) }}
					</div>
				</div>

				<div class="form-row mt-2">
					<div class="col">
						{{ form_row(form.size) }}
					</div>
					<div class="col">
						{{ form_row(form.sex) }}
					</div>
				</div>

				<div class="mt-2">
					{{ form_row(form.birthDate) }}
				</div>


				<div class="form-row mt-2">
					<div class="col">
						{{ form_row(form.city) }}
					</div>
					<div class="col">
						{{ form_row(form.cp) }}
					</div>
					<div class="col">
						{{ form_row(form.departement) }}
					</div>
				</div>

				<div class="centerButton">
					{% if editMode %}
						<button type="submit" class="btn btn-primary mt-20">
							Modifier</button>
					{% else %}
						<button type="submit" class="btn btn-primary mt-20">
							Ajouter</button>
					{% endif %}

				</div>

				{{ form_end(form) }}

			</div>
		{% endblock %}

	</div>

{% endblock %}
